* {
  border: 1px solid black;
}

/* section {
  display: flex;
  flex-direction: column;
} */

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 4px;
  font-family: 'Alumni Sans', sans-serif;
  color: rgb(247, 240, 240);
  font-size: 24px;
  background: rgba(57, 35, 59, 0.921);
}

.user-nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  padding: 4px;
}

img {
  height: 30px;
  width: 30px;
}

.tabs {
  display: flex;
}

table {
  display: flex;
  justify-content: center;
}

tr {
  width: 100px;
  height: 200px;
}

td {
  width: 200px;
}



/* box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25); */